<a href="https://colab.research.google.com/github/chaosdomok/data-science-bootcamp/blob/main/%C5%82%C4%85czenie%20danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np

In [11]:
def fetch_financial_data(company=''):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [13]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 985 entries, 2023-04-06 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    985 non-null    float64
 1   High    985 non-null    float64
 2   Low     985 non-null    float64
 3   Close   985 non-null    float64
 4   Volume  985 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 46.2 KB

In [14]:
apple.head()

               Open      High     Low   Close      Volume
Date
2023-04-06  162.430  164.9584  162.00  164.66  45390123.0
2023-04-05  164.740  165.0500  161.80  163.76  51511744.0
2023-04-04  166.595  166.8400  165.11  165.63  46278295.0
2023-04-03  164.270  166.2900  164.22  166.17  56976187.0
2023-03-31  162.440  165.0000  161.91  164.90  68749792.0

In [16]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [17]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-04-06     162.430    164.9584     162.00       164.66    45390123.0
2023-04-05     164.740    165.0500     161.80       163.76    51511744.0
2023-04-04     166.595    166.8400     165.11       165.63    46278295.0
2023-04-03     164.270    166.2900     164.22       166.17    56976187.0
2023-03-31     162.440    165.0000     161.91       164.90    68749792.0

In [21]:
df = pd.concat(objs=[apple, amazon, google, uber], axis = 1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-04-09,40.5473,41.3200,40.5374,40.5892,1.215686e+08,71.2515,71.9240,70.1285,70.3040,84164120,51.0020,52.2295,50.9600,51.0045,33220240,NaN,NaN,NaN,NaN,NaN
2018-04-10,41.2970,41.5283,40.9431,41.3569,1.197158e+08,71.5995,71.9190,70.7850,71.8110,85602880,51.5130,52.0605,50.7705,51.8250,36733560,NaN,NaN,NaN,NaN,NaN
2018-04-11,41.1126,41.5113,40.9820,41.1614,9.397649e+07,71.9720,72.4390,71.2445,71.3525,71650660,51.2530,51.7935,50.9755,51.2530,32998980,NaN,NaN,NaN,NaN,NaN
2018-04-12,41.3907,41.7736,41.3070,41.5633,9.589378e+07,71.9750,72.6060,71.7530,72.4250,62700540,51.5735,52.2325,51.3025,51.8645,32895880,NaN,NaN,NaN,NaN,NaN
2018-04-13,41.7198,41.9730,41.4945,41.7098,1.052571e+08,72.4570,72.9890,71.2260,71.5395,73705340,52.3445,52.6490,51.5075,51.8020,25409220,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-31,162.4400,165.0000,161.9100,164.9000,6.874979e+07,102.1600,103.4900,101.9500,103.2900,56750317,101.3000,103.8900,101.0400,103.7300,36863369,31.42,31.8450,31.2100,31.70,14824601.0
2023-04-03,164.2700,166.2900,164.2200,166.1700,5.697619e+07,102.3000,103.2900,101.4300,102.4100,41135733,102.3900,104.5300,101.9300,104.3600,25035399,31.50,31.7550,31.1674,31.46,23529100.0
2023-04-04,166.5950,166.8400,165.1100,165.6300,4.627830e+07,102.7500,104.2000,102.1100,103.9500,48662496,104.3300,105.5800,104.0400,104.7200,24420079,31.94,32.1295,31.2850,31.39,15146854.0
2023-04-05,164.7400,165.0500,161.8000,163.7600,5.151174e+07,103.9100,103.9100,100.7506,101.1000,45175393,105.7800,106.1000,103.6600,104.4700,28290503,30.95,31.2350,30.4700,31.12,17243304.0
2023-04-06,162.4300,164.9584,162.0000,164.6600,4.539012e+07,100.7500,102.3817,99.8008,102.0600,43808020,105.2600,109.1700,104.3300,108.4200,48711480,30.93,31.4900,30.5000,31.18,14486919.0

In [22]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,985.000000,985.000000,985.00000,985.000000,9.850000e+02
mean,102.360828,103.616818,101.182486,102.457511,1.148277e+08,121.214363,122.692970,119.588464,121.151573,8.370403e+07,87.841918,88.846693,86.865715,87.881317,3.502763e+07,37.077882,37.837216,36.24747,37.041492,2.545340e+07
std,46.111349,46.705608,45.533007,46.145522,5.595716e+07,34.267934,34.619547,33.853661,34.195258,3.854302e+07,30.012303,30.305975,29.654250,29.975460,1.573359e+07,9.654150,9.730561,9.49842,9.594248,1.641185e+07
min,34.743100,35.158800,34.263500,34.309400,3.519586e+07,67.300000,69.801500,65.350000,67.198000,1.762674e+07,49.216000,50.606000,48.883000,49.233500,9.312760e+06,15.960000,17.800000,13.71000,14.820000,3.380003e+06
25%,52.308500,52.938550,51.710750,52.173350,7.766718e+07,90.896500,91.543000,89.955750,90.790000,5.776210e+07,60.117250,60.630000,59.627650,60.292500,2.515133e+07,30.000000,30.550000,29.35000,30.050000,1.574298e+07
50%,114.670000,116.185000,113.035000,114.591000,9.894463e+07,108.104000,110.781000,106.324200,108.000000,7.259822e+07,78.665500,79.421000,77.631000,78.385000,3.122970e+07,34.400000,35.020000,33.60000,34.400000,2.178182e+07
75%,145.122000,146.902000,143.895500,145.363500,1.337194e+08,158.319000,159.924000,156.200000,158.087000,9.877558e+07,112.595000,114.007000,111.425500,112.673500,4.000609e+07,43.990000,44.590000,43.17000,43.780000,3.038146e+07
max,181.576000,181.885000,178.087000,180.958000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.050000,60.80000,63.180000,1.863225e+08

In [24]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1259.00,102.36,46.11,34.74,52.31,114.67,145.12,181.58
apple_high,1259.00,103.62,46.71,35.16,52.94,116.19,146.90,181.88
apple_low,1259.00,101.18,45.53,34.26,51.71,113.03,143.90,178.09
apple_close,1259.00,102.46,46.15,34.31,52.17,114.59,145.36,180.96
apple_volume,1259.00,114827701.77,55957158.51,35195860.00,77667180.45,98944633.00,133719411.01,434708544.96
amazon_open,1259.00,121.21,34.27,67.30,90.90,108.10,158.32,187.20
amazon_high,1259.00,122.69,34.62,69.80,91.54,110.78,159.92,188.65
amazon_low,1259.00,119.59,33.85,65.35,89.96,106.32,156.20,184.84
amazon_close,1259.00,121.15,34.20,67.20,90.79,108.00,158.09,186.57
amazon_volume,1259.00,83704028.92,38543018.71,17626740.00,57762100.00,72598220.00,98775580.00,311345660.00
google_open,1259.00,87.84,30.01,49.22,60.12,78.67,112.59,151.25
google_high,1259.00,88.85,30.31,50.61,60.63,79.42,114.01,151.55
google_low,1259.00,86.87,29.65,48.88,59.63,77.63,111.43,148.90
google_close,1259.00,87.88,29.98,49.23,60.29,78.39,112.67,149.84
google_volume,1259.00,35027629.42,15733592.66,9312760.00,25151330.00,31229700.00,40006087.50,133177100.00
uber_open,985.00,37.08,9.65,15.96,30.00,34.40,43.99,63.25
uber_high,985.00,37.84,9.73,17.80,30.55,35.02,44.59,64.05
uber_low,985.00,36.25,9.50,13.71,29.35,33.60,43.17,60.80
uber_close,985.00,37.04,9.59,14.82,30.05,34.40,43.78,63.18
uber_volume,985.00,25453401.93,16411845.31,3380003.00,15742985.00,21781825.00,30381462.00,186322536.00

In [25]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.37,0.71,0.71,0.70,0.71,-0.28,0.91,0.92,0.91,0.91,-0.09,0.07,0.07,0.07,0.07,0.10
apple_high,1.00,1.00,1.00,1.00,-0.36,0.71,0.71,0.70,0.71,-0.28,0.91,0.92,0.91,0.91,-0.09,0.06,0.06,0.06,0.06,0.10
apple_low,1.00,1.00,1.00,1.00,-0.38,0.71,0.72,0.71,0.71,-0.29,0.92,0.92,0.91,0.92,-0.10,0.07,0.07,0.07,0.07,0.10
apple_close,1.00,1.00,1.00,1.00,-0.37,0.71,0.71,0.70,0.71,-0.29,0.91,0.92,0.91,0.91,-0.09,0.06,0.07,0.07,0.07,0.10
apple_volume,-0.37,-0.36,-0.38,-0.37,1.00,-0.17,-0.17,-0.18,-0.17,0.58,-0.40,-0.40,-0.41,-0.40,0.45,-0.16,-0.15,-0.17,-0.16,0.23
amazon_open,0.71,0.71,0.71,0.71,-0.17,1.00,1.00,1.00,1.00,-0.20,0.77,0.77,0.77,0.77,-0.13,0.59,0.60,0.59,0.59,-0.03
amazon_high,0.71,0.71,0.72,0.71,-0.17,1.00,1.00,1.00,1.00,-0.19,0.77,0.77,0.77,0.77,-0.12,0.58,0.59,0.58,0.58,-0.03
amazon_low,0.70,0.70,0.71,0.70,-0.18,1.00,1.00,1.00,1.00,-0.22,0.77,0.76,0.77,0.77,-0.14,0.60,0.60,0.60,0.60,-0.04
amazon_close,0.71,0.71,0.71,0.71,-0.17,1.00,1.00,1.00,1.00,-0.21,0.77,0.77,0.77,0.77,-0.13,0.59,0.59,0.59,0.59,-0.03
amazon_volume,-0.28,-0.28,-0.29,-0.29,0.58,-0.20,-0.19,-0.22,-0.21,1.00,-0.31,-0.30,-0.31,-0.31,0.54,-0.16,-0.15,-0.18,-0.17,0.24
google_open,0.91,0.91,0.92,0.91,-0.40,0.77,0.77,0.77,0.77,-0.31,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.10
google_high,0.92,0.92,0.92,0.92,-0.40,0.77,0.77,0.76,0.77,-0.30,1.00,1.00,1.00,1.00,-0.13,0.23,0.23,0.23,0.23,0.10
google_low,0.91,0.91,0.91,0.91,-0.41,0.77,0.77,0.77,0.77,-0.31,1.00,1.00,1.00,1.00,-0.15,0.25,0.25,0.25,0.24,0.09
google_close,0.91,0.91,0.92,0.91,-0.40,0.77,0.77,0.77,0.77,-0.31,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.09
google_volume,-0.09,-0.09,-0.10,-0.09,0.45,-0.13,-0.12,-0.14,-0.13,0.54,-0.14,-0.13,-0.15,-0.14,1.00,-0.16,-0.15,-0.18,-0.16,0.28
uber_open,0.07,0.06,0.07,0.06,-0.16,0.59,0.58,0.60,0.59,-0.16,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.21
uber_high,0.07,0.06,0.07,0.07,-0.15,0.60,0.59,0.60,0.59,-0.15,0.24,0.23,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.07,0.06,0.07,0.07,-0.17,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.18,1.00,1.00,1.00,1.00,-0.23
uber_close,0.07,0.06,0.07,0.07,-0.16,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.24,0.24,-0.16,0.99,1.00,1.00,1.00,-0.21
uber_volume,0.10,0.10,0.10,0.10,0.23,-0.03,-0.03,-0.04,-0.03,0.24,0.10,0.10,0.09,0.09,0.28,-0.21,-0.19,-0.23,-0.21,1.00

In [26]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [29]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [31]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.71          0.91        0.07
amazon_close         0.71          1.00          0.77        0.59
google_close         0.91          0.77          1.00        0.24
uber_close           0.07          0.59          0.24        1.00

In [32]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [33]:
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [34]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.37,0.71,-0.29,0.91,-0.09,0.07,0.10
apple_volume,-0.37,1.00,-0.17,0.58,-0.40,0.45,-0.16,0.23
amazon_close,0.71,-0.17,1.00,-0.21,0.77,-0.13,0.59,-0.03
amazon_volume,-0.29,0.58,-0.21,1.00,-0.31,0.54,-0.17,0.24
google_close,0.91,-0.40,0.77,-0.31,1.00,-0.14,0.24,0.09
google_volume,-0.09,0.45,-0.13,0.54,-0.14,1.00,-0.16,0.28
uber_close,0.07,-0.16,0.59,-0.17,0.24,-0.16,1.00,-0.21
uber_volume,0.10,0.23,-0.03,0.24,0.09,0.28,-0.21,1.00

In [35]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-04-06      30.93      31.49     30.50       31.18     14486919
2023-04-05      30.95      31.23     30.47       31.12     17243304
2023-04-04      31.94      32.13     31.29       31.39     15146854
2023-04-03      31.50      31.75     31.17       31.46     23529100
2023-03-31      31.42      31.84     31.21       31.70     14824601

In [36]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [37]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [41]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

<ipython-input-41-aae1becbefc8>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  uber_6_7 = uber_6.append(uber_7)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]